.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    border:var(--border-blck) 3px solid;
    border-radius: 0.5rem;

    height: 65px;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}
.link{
    color: var(--text-blck);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.link:hover{
    color: var(--text-on-primary);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.active{
    color: var(--text-on-primary);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
