.heading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--text-primary)
}

.subheading {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1.3em;
  font-family:var(--font-one) ;
  color: var(--text-primary)
}

.option {
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 1.2em;
  color: var(--text-primary);
  display: flex;
  gap: 0.5em;
}